
#restaurants-list {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (max-width: 468px) {
	.filter-options {
		height: 140px;
	}

}

@media screen and (max-width: 600px) {
	nav h1 {
		padding: 25px;
		font-family: sans-serif;
	}

}
